<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="list.css">
	<title>My Discord</title>
</head>

<body>
	<a href="/"> Home </a>
	<br>
	<a href="/logout"> Logout </a>
	<br>
	<br>
	<a> Welcome : <%= username %> </a>
	<div>
		<h1>Channel list :</h1>
		<ul id="channel_list">
			<% for (var i = 0; i < discord.length; i++) { %>
				<li>
					<a href="/<%= discord[i].channel_name %>">
						<%= discord[i].channel_name %>
					</a>
					<a>
						<%= discord[i].history.length - 1 %>
					</a>
				</li>
				<% }; %>
		</ul>
		<br>
		<br>
		<form action="/list" method="post">
			<input type="text" name="new_channel" placeholder="New channel" size="25" autocomplete="off" autofocus required />
			<input type="submit" value="Create" />
		</form>
	</div>
</body>

</html>
