body {
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
	vertical-align: bottom;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #b61924;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.login_box {
	width: 200px;
	height: 220px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	background: #eee;
	border-radius: 4px;
	padding: 40px 40px;
}

.login_box h1 {
	font-size: 2em;
	text-align: center;
	margin-top: -1px;
	margin-bottom: -1px;
}

.login_box span {
	font-size: .75em;
	padding-left: 45px;
}

.login_box form {
	margin: 20px -15px 0px -15px
}

.login_box form label {
	font-weight: 700;
	padding-left: 1px;
	margin-bottom: 5px;
	display: inline-block;
}

.login_box form input {
	font-size: inherit;
	line-height: inherit;
	border-radius: 6px;

	padding-top: 10px;
	padding-bottom: 10px;

	margin-bottom: 16px;
}

.login_box form input[type=text] {
	border: 1px solid #ccc;

	width: 82%;
	padding-right: 20px;
	padding-left: 20px;
}

.login_box form input ::placeholder {
	color: #9e9e9e;
	opacity: 1;
}

.login_box form input[type=submit] {
	width: 100%;
	color: #fff;
	font-size: 18px;
	background-color: #428bca;
	border-color: #357ebd;
	border: 1px solid transparent;
	cursor: pointer;
}

.login_box form input[type=submit]:hover {
	background-color: #3071a9;
	border-color: #285e8e;
}
