<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="login.css">

	<title>My Discord</title>
</head>

<body>
	<div id="particles-js"></div>

	<div class="login_box">
		<h1>My Discord</h1>
		<span> Trouve un sous-titre stp</span>
		<form method="post" action="#">
			<label>Username</label>
			<input type="text" name="username" id="username" placeholder="Enter your Username" autocomplete="off" />
			<input type="submit" value="Login" />
		</form>
	</div>

	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="particles.js"></script>
</body>

</html>
