<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="login.css">

	<title>My Discord</title>
</head>

<body>
	<div id="particles-js">
		<canvas class="particles-js-canvas-el" height="931" width="900"></canvas>
	</div>

	<!--
<div class="login_box">
		<h3>My Discord</h3>
		<form method="post" action="#">
			<div>
				<label>Username</label>
				<input type="text" name="username" id="username" placeholder="Enter your Username" autocomplete="off" />
				<input type="submit" value="Login" />
			</div>
		</form>
	</div>
-->

	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>

</html>
