body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 100px;
}

.button.link_button {
	display: inline-block;
	margin: 50px 0 0 40px;
}

.logout.link_button {
	margin: -20px 45px 0 0;
	text-align: right;
}

#zone_chat {
	overflow: auto;
	font-size: 150%;
	height: 550px;
	padding: 10px 20px 10px 20px;
}

#chat_form input {
	position: fixed;
	border: 10px solid #000;
	margin-left: -10px;
	font-size: 130%;
	padding: 40px 0 40px 20px;
	outline: none;
	bottom: 0;
}
